{% extends "base_onecolumn.html" %}

{% block title %}{{ flatpage.title }}{% endblock title %}

{% block body.content.main %}
<header id="page-header">
	<h1>Sebastien Galina</h1>
	<p class="lead">Web Designer, Backend Developer, and Digital Art Director since 2009</p>
	<p>I work with HTML5, CSS3, Django, Python, Apache, Linux, and JQuery to build small sites and big sites.  I have experience with database design, scalable cloud systems like Amazon Web Services, and frontend design.</p>
	<p>In my spare time, I work on film and photography projects for big brands such as The City of Surrey, Richmond, Universal Music, and Coast Capital Savings.</p>
	<hr class="alt">
</header>

<div class="project-block">
	<div class="grid">
		<div class="col-6of12 block-text">
			<div class="project-block-text">
				<h2>Education</h2>
				<p>I graduated from <a href="http://sfu.ca">Simon Fraser University</a> with a BSc in Computing Science.</p>
			</div>
		</div>
		<div class="col-6of12 block-content">
			<div class="project-block-content">
				<h2 class="whisper">2015</h2>
			</div>
		</div>
	</div>
</div>

<div class="project-block">
	<div class="grid">
		<div class="col-6of12 block-text">
			<div class="project-block-text">
				<h2>Boldly Creative Agency</h2>
				<p>I started a <a href="http://boldly.ca">creative agency</a> with two business partners; we've shot commercials and projects for A&amp;W, Deloitte, Playland and Coast Capital.</p>
			</div>
		</div>
		<div class="col-6of12 block-content">
			<div class="project-block-content">
				<h2 class="whisper">2015</h2>
			</div>
		</div>
	</div>
</div>

<div class="project-block">
	<div class="grid">
		<div class="col-6of12 block-text">
			<div class="project-block-text">
				<h2>Exposure Contest</h2>
				<p>I built a website to host a <a href="http://exposure-contest.ca">video editing contest</a>.  We garnered over 40k views, had over 280 participants sign up from all over the world.</p>
			</div>
		</div>
		<div class="col-6of12 block-content">
			<div class="project-block-content">
				<h2 class="whisper">2013</h2>
			</div>
		</div>
	</div>
</div>

<div class="project-block">
	<div class="grid">
		<div class="col-6of12 block-text">
			<div class="project-block-text">
				<h2>Prime Focus VFX</h2>
				<p>I worked as a software developer (co-op) in the VFX hub of Vancouver, BC.  I built desktop programs with Python and PyQT to assist the artist floor and company infrastructure.</p>
			</div>
		</div>
		<div class="col-6of12 block-content">
			<div class="project-block-content">
				<h2 class="whisper">2012</h2>
			</div>
		</div>
	</div>
</div>

<div class="project-block">
	<div class="grid">
		<div class="col-6of12 block-text">
			<div class="project-block-text">
				<h2>Grass Roots</h2>
				<p>As a kid I started making short films and designing the look and feel of my work products in school.</p>
			</div>
		</div>
		<div class="col-6of12 block-content">
			<div class="project-block-content">
				<h2 class="whisper">2003</h2>
			</div>
		</div>
	</div>
</div>

{% endblock body.content.main %}