{% load staticfiles %}

<!doctype html>
<html lang="en-CA">

	<head>
		<meta charset="utf-8">
		<title>{% block title %}Sebastien Galina{% endblock title %}</title>
		<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/grid.css' %}">
		<link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
		<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
		<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
	</head>

	<body>
		<header id="header-main">
			{% block header %}
			<div id="menu" role="navigation">
				<div class="grid">
					<div class="col-8of12">
						<h2 class="brand"><a href="{% url 'index' %}">Galina</a></h2>
					</div>
					<div class="col-4of12">
						<div class="button-grid" role="menu">
							<span class="dropdown-toggle"><span class="fa fa-caret-down"></span> MENU</span>
							<div class="grid">
								<div class="col-4of12">
									<a class="btn btn-alt" role="menuitem" href="{% url 'index' %}#project-snippets">My Work <span class="fa fa-long-arrow-right"></span></a>
								</div>
								<div class="col-4of12">
									<a class="btn btn-alt" role="menuitem" href="{% url 'about' %}">My Story <span class="fa fa-long-arrow-right"></span></a>
								</div>
								<div class="col-4of12">
									<a class="btn btn-alt contact-toggle" role="menuitem" href="{% url 'index' %}#footer-main">Contact Me <span class="fa fa-long-arrow-right"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endblock header %}
		</header>

		<div id="wrap">
		{% block body.content %}
		{% endblock body.content %}
		</div>

		<footer id="footer-main">
			{% block footer %}
			<div class="grid">
				<div class="col-4of12">
					<h2>Contact Me</h2>
					<p>Let's chat about anything from consulting your brand, to online presence, and design.</p>
					<p><a href="mailto:sebastien@boldly.ca">sebastien@boldly.ca</a> (email)</p>
					<p><a href="http://twitter.com/sebig">@sebig</a> (twitter)</p>
					<div class="grid">
					</div>
				</div>
				<div class="col-8of12">
				</div>
			</div>
			{% endblock footer %}
		</footer>

		<script src="{% static 'js/html5shiv.min.js' %}"></script>
		<script src="{% static 'js/googlefonts.js' %}"></script>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/scroll-link.js' %}"></script>
		<script src="{% static 'js/dropdown.js' %}"></script>
		<script src="{% static 'js/contact.js' %}"></script>

	</body>

</html>