{% extends "base_onecolumn.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Sebastien Galina{% endblock title %}

{% block header %}
{{ block.super }}
<div class="header-well">
	<picture>
		<source media="(min-width:50em)" srcset="{% static 'img/deloitte-05.png' %}">
		<source media="(min-width:30em)" srcset="{% static 'img/deloitte-05-med.png' %}">
		<source media="(min-width: 0em)" srcset="{% static 'img/deloitte-05-small.png' %}">
		<img class="header-image" src="{% static 'img/deloitte-05.png' %}"
			alt="Sebastien Galina, Web Designer, Backend Developer and Digital Art Director">
	</picture>
	<section class="header-feature">
		<h2>Sebastien Galina</h2>
		<p class="lead">Web Designer, Backend Developer and Digital Art Director</p>
		<a class="btn btn-lg btn-rev" href="#project-snippets">Check out my work</a>
	</section>
</div>
{% endblock header %}

{% block body.content.main %}
<div id="project-snippets" class="project-snippets">
	<div class="grid">
		{% for p in projects|slice:":2" %}
		<div class="col-6of12">
			<div class="project-snippet">
				<h2>{{ p.name }}</h2>
				<p>Tagged in: {% for t in p.tags.all %}<a href="{{ t.get_absolute_url }}" title="View projects tagged as {{ t }}">{{ t }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
				<a class="simple-link" href="{{ p.get_absolute_url }}" title="View {{ p.name }}">
					<div class="layers">
						<picture>
							{% thumbnail p.logo "800x450" crop="top" format="PNG" as im %}
							<source media="(min-width:45em)" srcset="{{ im.url }}">
							{% endthumbnail %}
							{% thumbnail p.logo "400x250" crop="top" format="PNG" as im %}
							<source media="(min-width:0em)" srcset="{{ im.url }}">
							{% endthumbnail %}
							{% thumbnail p.logo "800x450" crop="top" format="PNG" as im %}							
							<img class="top-layer" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ p.name }} logo">
							{% endthumbnail %}
						</picture>
						<picture>
							{% thumbnail p.image "800x450" crop="top" format="PNG" as im %}
							<source media="(min-width:45em)" srcset="{{ im.url }}">
							{% endthumbnail %}
							{% thumbnail p.image "400x250" crop="top" format="PNG" as im %}
							<source media="(min-width:0em)" srcset="{{ im.url }}">
							{% endthumbnail %}
							{% thumbnail p.image "800x450" crop="top" format="PNG" as im %}							
							<img class="bottom-layer" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ p.name }} style">
							{% endthumbnail %}
						</picture>
					</div>
				</a>
				<p class="lead">{{ p.short|truncatewords:20 }}</p>
				<a class="btn" href="{{ p.get_absolute_url }}" title="View {{ p.name }}">{{ p.readmore }} <span class="fa fa-long-arrow-right"></span></a>
			</div>
		</div>
		{% endfor %}
	</div>

	{% comment %}
	<!--
	<div class="grid">
		<div class="col-4of12">
			<div class="project-snippet">
				<img src="holder.js/500x300">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<a class="btn" href="#">Read more</a>
			</div>
		</div>
		<div class="col-4of12">
			<div class="project-snippet">
				<img src="holder.js/500x300">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<a class="btn" href="#">Read more</a>
			</div>
		</div>
		<div class="col-4of12">
			<div class="project-snippet">
				<img src="holder.js/500x300">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<a class="btn" href="#">Read more</a>
			</div>
		</div>
	</div>
	-->
	{% endcomment %}

</div>
{% endblock body.content.main %}