{% extends "base_onecolumn.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Sebastien Galina{% endblock title %}

{% block header %}
<div class="header-well">
	{{ block.super }}
	<img class="header-image" src="{% static 'img/seb-01.jpg' %}" alt="Sebastien Galina, Web Designer, Backend Developer and Digital Art Director">
	<div class="header-feature">
		<h2>Web Designer, Backend Developer and Digital Art Director</h2>
		<p class="lead">Find out more about my dedicated practice in standards-based design, robust database management and industrial yet delicate style.</p>
		<a class="btn btn-lg" href="#project-snippets">My Work <span class="fa fa-long-arrow-right"></span></a>
	</div>
</div>
{% endblock header %}

{% block body.content.main %}
<header id="page-header">
	<h1>Sebastien Galina</h1>
	<p class="lead">Web Designer, Backend Developer, and Digital Art Director</p>
</header>

<div id="project-snippets" class="project-snippets">
	<div class="grid">
		{% for p in projects|slice:":2" %}
		<div class="col-6of12">
			<div class="project-snippet">
				<h3>{{ p.name }}</h3>
				<p>Tagged in: {% for t in p.tags.all %}<a href="{{ t.get_absolute_url }}">{{ t }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
				<a class="simple-link" href="{{ p.get_absolute_url }}" title="{{ p.name }}">
					<div class="layers">
						{% thumbnail p.logo "800x450" crop="center" format="PNG" as im %}
						<img class="top-layer" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ p.name }} logo">
						{% endthumbnail %}
						{% thumbnail p.image "800x450" crop="center" format="PNG" as im %}
						<img class="bottom-layer" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ p.name }} style">
						{% endthumbnail %}
					</div>
				</a>
				<p class="lead">{{ p.short|truncatewords:20 }}</p>
				<a class="btn btn-alt" href="{{ p.get_absolute_url }}">{{ p.readmore }} <span class="fa fa-long-arrow-right"></span></a>
			</div>
		</div>
		{% endfor %}
	</div>

	<!--
	<div class="grid">
		<div class="col-4of12">
			<div class="project-snippet">
				<img src="holder.js/500x300">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<a class="btn" href="#">Read more</a>
			</div>
		</div>
		<div class="col-4of12">
			<div class="project-snippet">
				<img src="holder.js/500x300">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<a class="btn" href="#">Read more</a>
			</div>
		</div>
		<div class="col-4of12">
			<div class="project-snippet">
				<img src="holder.js/500x300">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<a class="btn" href="#">Read more</a>
			</div>
		</div>
	</div>
	-->

</div>
{% endblock body.content.main %}