{% extends "base_onecolumn.html" %}
{% load thumbnail %}

{% block title %}{{ project.name }} | {{ block.super }}{% endblock title %}

{% block body.content.main %}
<header id="page-header">
	{% if liked %}
	<div class="alert alert-liked">
		<p><span class="fa fa-heart"></span> Thanks for showing some love!</p>
	</div>
	{% endif %}
	<h1>{{ project.name }}</h1>
	<p class="lead">{{ project.ptype }} by Sebastien Galina for {{ project.client }}<br>Tagged in: {% for t in project.tags.all %}<a href="{{ t.get_absolute_url }}">{{ t }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>

	<p>
		{{ project.short }}
	</p>
	<hr class="alt">
</header>

{% for block in project.blocks.all %}
<section class="project-block">
	<div class="grid">
		<div class="col-6of12 block-text">
			<div class="project-block-text">
				<h2>{{ block.heading }}</h2>
				<p class="lead">{{ block.tagline }}</p>
				{{ block.body|safe|linebreaks }}
				<!--<hr class="annotation-line">-->
			</div>
		</div>
		<div class="col-6of12 block-content">
			<div class="project-block-content">
				<figure>
					<picture>
						{% thumbnail block.image "700" upscale=false as im %}
						<source media="(min-width:45em)" srcset="{{ im.url }}">
						{% endthumbnail %}
						{% thumbnail block.image "400" upscale=false as im %}
						<source media="(min-width:0em)" srcset="{{ im.url }}">
						{% endthumbnail %}
						{% thumbnail block.image "700" upscale=false as im %}
						<img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ block.tagline }}">
						{% endthumbnail %}
					</picture>
					{% if block.caption %}
					<figcaption>{{ block.caption }}</figcaption>
					{% endif %}
				</figure>
			</div>
		</div>
	</div>
</section>
{% endfor %}

{% endblock body.content.main %}

{% block footer %}
<div class="project-love">
	<h3>Show this project some love!</h3>
	<a class="btn btn-alt btn-love" href="?like=1"><span class="fa fa-heart"></span> I like this project</a>
</div>
{{ block.super }}
{% endblock footer %}