{% extends "base_onecolumn.html" %}
{% load thumbnail %}

{% block title %}{{ tag|capfirst }} Projects | {{ block.super }}{% endblock title %}

{% block body.content.main %}
<section class="project-block">
	<div class="grid">
		<div class="col-6of12 block-text">
			<div class="project-block-text">
				<header id="page-header">
					<h1>{{ tag|capfirst }} Projects</h1>
				</header>
			</div>
		</div>
		<div class="col-6of12 block-content">
		</div>
	</div>
</section>

{% for project in projects %}
<section class="project-block">
	<div class="grid">
		<div class="col-6of12 block-text">
			<div class="project-block-text">
				<h2>{{ project.name }}</h2>
				<p>{{ project.short }}</p>
				<a class="btn" href="{{ project.get_absolute_url }}">{{ project.readmore }} <span class="fa fa-long-arrow-right"></span></a>
			</div>
		</div>
		<div class="col-6of12 block-content">
			<div class="project-block-content block-tagged">
				<h2 class="whisper">{{ project.date.year }}</h2>
				<a class="simple-link" href="{{ project.get_absolute_url }}">
					<div class="grid tagged-grid">
						<div class="col-6of12">
							{% thumbnail project.logo "400x300" crop="center" format="PNG" as im %}
							<img class="bordered" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ project.name }} logo">
							{% endthumbnail %}
						</div>
						<div class="col-6of12">
							{% thumbnail project.image "400x300" crop="center" format="PNG" as im %}
							<img class="bordered" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ project.name }} image">
							{% endthumbnail %}
						</div>
					</div>
				</a>
				<p><small>Also tagged in {% for t in project.tags.all %}<a href="{{ t.get_absolute_url }}">{{ t }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</small></p>
				<a class="btn" href="{{ project.get_absolute_url }}">{{ project.readmore }} <span class="fa fa-long-arrow-right"></span></a>
			</div>
		</div>
	</div>
</section>
{% endfor %}

{% endblock body.content.main %}