/*
	Styles for IAT339 P04
	by Sebastien Galina
*/

$red: #FF3300;
$yellow: #FFFF00;
$orange: #FFCC98;
$black: #333;
$grey: #888;
$lightgrey: #666;
$lightergrey: #CCC;
$lightestgrey: #EEE;

@mixin transition($time, $delay: 0s) {
	-webkit-transition: all $time ease-out $delay;
	   -moz-transition: all $time ease-out $delay;
	    -ms-transition: all $time ease-out $delay;
	        transition: all $time ease-out $delay;	
}

*,*::after,*::before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Calibri", "Helvetica Neue", "Arial", sans-serif;
	font-weight: normal;
	color: $black;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Lato", "Helvetica Neue", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0.5em 0;
	padding: 0;
}

h1 {
	font-size: 3.3em;
	margin: 0;
}

h2 {
	font-size: 2.5em;
	font-weight: lighter;
}

h3 {
	font-size: 1.5em;
	font-weight: lighter;
}

p {
	max-width: 40em;
	font-size: 1.2em;
	color: $grey;
}

p.lead {
	font-size: 1.85em;
	color: $black;
	margin: 0;
	padding: 0;
}

hr {
	border: 0.4rem $black solid;
	margin: 3rem 0;
	max-width: 40rem;
}

hr.alt {
	max-width: 100%;
	border: 0.75rem $yellow solid;
	margin-top: 0;
}

a {
	color: $orange;
	padding: 0 0.1em;
	text-decoration: none;
	border-bottom: 0.15em $black solid;

	@include transition(0.25s);
}

a:hover {
	color: $black;
	background-color: $yellow;
	border-color: transparent;
}

p a {
	border-color: $orange;
}

a.simple-link {
	padding: 0;
	margin: 0;
}

ul.list, ol.list {
	font-size: 1.5em;
}

ul.list li, ol.list li {
	margin: 0.5em auto;
}

.whisper {
	color: $lightergrey;
}

.btn {
	display: inline-block;
	padding: 0.5em 1em;
	color: $black;
	border: 0.15em $yellow solid;
	border-radius: 0.25em;
	font-weight: bold;
}

.btn.btn-rev {
	background-color: $yellow;
	border-color: $yellow;
	color: $black;
}

.btn.btn-rev:hover {
	background-color: transparent;
	border-color: $yellow;
	color: $yellow;
}

.btn.btn-lg {
	font-size: 1.75em;
	font-weight: normal;
}

.btn.btn-alt {
	color: $lightgrey;
	border-color: $lightestgrey;
}

.btn.btn-alt:hover {
	background-color: $lightergrey;
	border-color: $lightergrey;
	color: $black;
}

.btn.btn-alt.btn-love:hover {
	background-color: $red;
	border-color: $red;
	color: darken($red, 25);
}

.btn.btn-nav {
	margin: 0;

	border-radius: 1.5em;
	border-color: transparent;
	border-top: thin #EEE solid;
	border-left: thin #EEE solid;
	border-right: thin #EEE solid;
	color: $lightergrey;

	box-shadow: 0px 3px 5px #AAA;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	text-shadow: 0px 2px 1px #FFF;
}

.btn.btn-nav:hover {
	background-color: transparent;
	border-color: #EEE;
	color: $grey;

}

.icon {
	font-family: "untitled-font-1";
	position: relative;
	top: 0.25em;
	padding: 0.1em;
}

figure {
	padding: 0;
	margin: 3rem auto;
	display: inline-block;
}

figure img {
	margin: 0;
	max-width: 100%;
}
figcaption {
	margin: 0;
	padding: 0.25em;
	background-color: $orange;
}

img {
	display: block;
	margin: 3rem 0;
	max-width: 100%;
	height: auto;
}


.alert {
	border: 0.15em transparent solid;
	
}

.alert-liked {
	background-color: $red;
	padding: 0 1rem;
	p {
		color: darken($red, 20);
	}
}


/* ----------------------- COMBINED STYLES ------------------------ */
#header-main,
#footer-main {
	padding: 1em 0;

	.brand {
		margin: 0;
		font-weight: bold;
		font-size: 2.2em;
	}

	.grid {
		margin: 0 auto;
		max-width: 80em;
		padding: 0 1rem;
		padding-bottom: 1rem;
		position: relative;
	}

	.button-grid {
		padding: 0;
		text-align: center;
	}
}

#header-main {
	padding: 0;
	position: relative;
	z-index: 999;
}

#menu {
	width: 100%;
	position: fixed;
	background-color: #FFF;
	padding-top: 1rem;
	z-index: 999;

	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

#menu .dropdown-toggle {
	padding: 0.5em 1em;
	background-color: $lightestgrey;
	border-radius: 0.25em;
	display: none;

	@include transition(0.25s);

	&:hover {
		cursor: pointer;
		background-color: lighten($orange, 10);
		color: $black;
	}
}

#menu .button-grid .grid {
	padding: 0;
	width: 100%;

	@include transition(0.25s);

	.btn .fa {
		display: none;
	}
}

#menu .button-grid .grid.active {
	visibility: visible;
	opacity: 1;

	background-color: lighten($orange, 10);
	background-color: rgba(lighten($orange, 10), 0.95);
	color: $black;

	.btn {
		font-size: 2em;
		padding-right: 0.5em;

		.fa {
			display: inline-block;
		}
	}
}

.header-well {
	position: relative;
	overflow: hidden;
}

.header-image {
	margin: 0 auto;
	padding-top: 4em;
	border-bottom: 1rem $yellow solid;
	opacity: 0.5;
}

.header-feature {
	position: absolute;
	padding: 1em;
	padding-right: 2em;
	width: 50%;
	margin: 0 auto;
	top: 32%;
	right: 0;

	.btn {
		margin-top: 1em;
		color: $black !important;
	}
}

#wrap {
	padding-top: 4em;
}

#footer-main {
	padding: 1em 0;
	background-color: #EEE;
	border-top: thin #DDD solid;
	@include transition(1s, 1s);

	a {
		color: $black;
	}

	p {
		@include transition(1s, 1s);
	}

	&.active {
		border-color: $yellow;
		color: #FFF !important;
		background-color: darken($orange, 20);
		@include transition(0.25s, 0.5s);

		p {
			color: #FFF !important;
			@include transition(0.25s, 0.5s);
		}
	}
}

.project-block {
	max-width: 80em;
	margin: 0 auto;
}

#page-header {
	margin: 0 auto;
	max-width: 80em;
	padding: 2em 1rem;
	background-color: #FFF;
}

.twocolumn-wrap {
	max-width: 80em;
	margin: 0 auto;

}

/* ----------------------- PROJECT STYLES ------------------------- */
.project-snippets {
	margin: 2em auto;
	max-width: 80em;

	.project-snippet {
		background-color: #FFF;
		margin: 0.5em;
		margin-bottom: 2em;

		@include transition(0.25s);

		img {
			border: thin #EEE solid;
			margin: 0.5rem auto;
			height: auto;
		}

		p.lead {
			font-size: 1.5em;
		}

		a.simple-link {
		}

		h3 {
			font-weight: bold;
		}

		h3, p {
			margin: 0.5em;
		}

		.btn {
			margin: 0.5em;
		}
	}
}

.layers {
	position: relative;

	.bottom-layer {
		@include transition(0.25s);

		position: absolute;
		opacity: 0;
		top: -0.5rem;
	}

	&:hover {
		.bottom-layer {
			opacity: 1;
		}
	}
}


.project-block {
	margin-bottom: 0;
}

.project-block .block-content {
	border-left: 3px #EEE solid;
	background-color: #F7F7F7;
}


.project-block-text,
.project-block-content,
.column-text,
.column-content {
	padding: 1rem;
}

.project-block-text {
	position: relative;
	padding-right: 3rem;
	.annotation-line {
		border-width: 0.25em;
		border-radius: 1em;
		position: absolute;
		right: -140%;
		top: 50%;
		z-index: 80;
		width: 150%;
	}
}

.project-block-content {
	text-align: center;

	h2, h3, h4, p {
		text-align: left;
	}

	img {
		-webkit-filter: grayscale(100%);
		filter: gray; filter: grayscale(100%);
		
		@include transition(0.25s);

		&:hover {
			-webkit-filter: none;
			filter: none;
		};
	}

	figure {
		figcaption {
			background-color: $lightergrey;
			@include transition(0.25s);
		}
		&:hover {
			figcaption {
				background-color: $orange;
			};
		}
	}
}

.project-block-content figure {
	margin-top: 1rem;
	text-align: left;
}

.project-block-content .bordered {
	border: 0.15em #EEE solid;
}

.project-block-content .tagged-grid {
	img {
		margin-bottom: 1rem;
	}
	.col-3of12 img {
		margin-top: 0;
	}
}

.project-love {
	padding: 1rem;
	max-width: 30em;
	margin: 0 auto;
	border-radius: 0.5em;
	background-color: #F7F7F7;
	text-align: center;

}