.grid::after {
	content: "";
	display: block;
	clear: both;
}

[class^='col-'] {
	float: left;
}

.col-1of12 {
	width: 8.33333%;
}

.col-2of12 {
	width: 16.66666%;
}

.col-3of12 {
	width: 25%;
}

.col-4of12 {
	width: 33.33333%;
}

.col-5of12 {
	width: 41.66666%;
}

.col-6of12 {
	width: 50%;
}

.col-7of12 {
	width: 58.33333%;
}

.col-8of12 {
	width: 66.66666%;
}

.col-9of12 {
	width: 75%;
}

.col-10of12 {
	width: 83.33333%;
}

.col-12of12 {
	width: 100%;
}


@media(max-width: 65.625em) {
	#menu > nav > .grid > .col-8of12,
	#menu > nav > .grid > .col-4of12 {
		width: 50%;
	}
}

@media(max-width: 65em) {
	.header-feature {
		width: 60%;
	}
}

@media(max-width: 54em) {
	.header-feature {
		top: 25%;
		font-size: 90%;
	}
	#footer-main .col-6of12 {
		width: 100%;
	}
}

@media(max-width: 45em) {
	.header-feature {
		font-size: 80%;
	}

	.header-feature .btn.btn-lg {
		font-size: 1.2em;
	}
	#menu .button-grid {
		text-align: right;
	}
	#menu .button-grid .col-4of12 {
		width: 100%;
	}
	#menu .button-grid .btn {
		display: block;
		padding-right: 1.5em;
		border-radius: 0;
		border: none;
	}
	#menu .dropdown-toggle {
		display: inline-block;
		margin-top: 0.15em;
	}
	#menu .button-grid .grid {
		opacity: 0;
		background-color: #FFF;
		position: absolute;
		z-index: 99;
		right: 0;
		top: 3.45em;

		visibility: hidden;
	}

	.project-block .col-6of12 {
		width: 100%;
	}
}

@media(max-width: 41.5em) {
	.header-feature {
		font-size: 80%;
	}
}

@media(max-width: 41.25em) {
	h1 {
		font-size: 2.25em;
	}
	p.lead {
		font-size: 1.5em;
	}
	p {
		line-height: 1.4em;
	}

	.project-snippets .col-6of12 {
		width: 100%;
	}
}

@media(max-width: 35em) {
	.header-feature {
		width: 100%;
		text-align: center;
		font-size: 90%;
		top: 15%;
		padding: 2em;
	}
}