/* 
	Styles only for style guide
*/

body {
	background-color: #CCC;
}

#wrap {
	background-color: #FFF;
	max-width: 70em;
	padding: 1rem;
	margin: 0 auto;
}

code {
	background-color: #EEE;
	display: block;
	padding: 0.4em;
	color: #888;
	overflow-x: scroll;
}

.style-tile {
}

.style-tile img {
	margin: 0;
}

.style-tile p {
	margin: 0;
	margin-bottom: 1em;
	padding: 0.25em;
}