/*
	Styles for IAT339 P04
	by Sebastien Galina
*/

$yellow: #FFFF00;
$orange: #CCCC00;
$black: #333;
$grey: #888;
$lightgrey: #666;
$lightergrey: #CCC;


*,*::after,*::before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Calibri";
	font-weight: normal;
	color: $black;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Lato";
	font-weight: bold;
	text-transform: uppercase;
	margin: 0.5em 0;
	padding: 0;
}

h1 {
	font-size: 3em;
	margin: 0;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	font-weight: lighter;
}

p {
	max-width: 40em;
	font-size: 1.2em;
	color: $grey;
}

p.lead {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

hr {
	border: 0.4rem $black solid;
	margin: 3rem 0;
	max-width: 40rem;
}

hr.alt {
	max-width: 100%;
	border: 0.75rem $yellow solid;
	margin-top: 0;
}

a {
	color: $orange;
	padding: 0 0.2em;
	text-decoration: none;
	border-bottom: 0.15em $black solid;

	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
	    -ms-transition: all 0.25s ease-out;
	        transition: all 0.25s ease-out;
}

a:hover {
	color: $black;
	background-color: $yellow;
	border-color: transparent;
}

a.simple-link {
	padding: 0;
	margin: 0;
}

ul.list, ol.list {
	font-size: 1.5em;
}

ul.list li, ol.list li {
	margin: 0.5em auto;
}

.whisper {
	color: $lightergrey;
}

.btn {
	display: inline-block;
	*display: inline;
	padding: 0.5em 1em;
	border: thin $orange solid;
	border-radius: 0.25em;
	font-weight: bold;
}

.btn.btn-lg {
	font-size: 1.75em;
	font-weight: normal;
}

.btn.btn-alt {
	color: $lightgrey;
	border-color: $lightgrey;
}

.btn.btn-alt:hover {
	background-color: $lightergrey;
	border-color: $lightergrey;
	color: $black;
}

.btn.btn-nav {
	margin: 0;

	border-radius: 1.5em;
	border-color: transparent;
	border-top: thin #EEE solid;
	border-left: thin #EEE solid;
	border-right: thin #EEE solid;
	color: $lightergrey;

	box-shadow: 0px 3px 5px #AAA;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	text-shadow: 0px 2px 1px #FFF;
}

.btn.btn-nav:hover {
	background-color: transparent;
	border-color: #EEE;
	color: $grey;

}

.icon {
	font-family: "untitled-font-1";
	position: relative;
	top: 0.25em;
	padding: 0.1em;
}

figure {
	padding: 0;
	margin: 3rem auto;
	display: inline-block;
	border: thin #EEE solid;
	border-bottom: none;
}

figure img {
	margin: 0;
	max-width: 100%;
}
figcaption {
	margin: 0;
	padding: 0.25em;
	background-color: $yellow;
}

img {
	display: block;
	margin: 3rem 0;
	max-width: 100%;
}



/* ----------------------- COMBINED STYLES ------------------------ */
#header-main,
#footer-main {
	padding: 1em 0;

	.brand {
		margin: 0;
	}

	.grid {
		margin: 0 auto;
		max-width: 80em;
		padding: 0 1rem;
		padding-bottom: 1rem;
		position: relative;
		z-index: 99;
	}

	.button-grid {
		padding: 0;
		text-align: center;
	}
}

#header-main {
	padding: 0;
}

#menu {
	width: 100%;
	position: fixed;
	background-color: #FFF;
	padding-top: 1rem;
	z-index: 99;
}

.header-image {
	margin: 0 auto;
	padding-top: 4em;
}

.header-feature {
	position: absolute;
	padding: 1em;
	width: 50%;
	margin: 0 auto;
	top: 35%;
	right: 0;

	h2, p {
		color: #FFF;
	}

	.btn {
		margin-top: 1em;
	}
}

#wrap {
	padding-top: 4em;
}

#footer-main {
	padding: 1em 0;
	background-color: #EEE;
}

.project-block {
	max-width: 80em;
	margin: 0 auto;
}

#page-header {
	margin: 0 auto;
	max-width: 80em;
	padding: 2em 1rem;
	background-color: #FFF;
}

.twocolumn-wrap {
	max-width: 80em;
	margin: 0 auto;

}

/* ----------------------- PROJECT STYLES ------------------------- */
.project-snippets {
	margin: 4em auto;
	max-width: 80em;

	.project-snippet {
		background-color: #FFF;
		border: thin #EEE solid;
		border-radius: 0.2em;
		margin: 0.5em;
		margin-bottom: 2em;

		-webkit-transition: all 0.25s ease-out;
		   -moz-transition: all 0.25s ease-out;
		    -ms-transition: all 0.25s ease-out;
		        transition: all 0.25s ease-out;

		img {
			margin: 0.5rem auto;
			height: auto;
		}

		a.simple-link {
		}

		h3 {
			font-weight: bold;
		}

		h3, p {
			margin: 0.5em;
		}

		.btn {
			margin: 0.5em;
		}

		&:hover {
			background-color: $yellow;
			border-color: $yellow;

			a, p {
				color: $black;
			}
		}
	}
}

.layers {
	position: relative;

	.bottom-layer {
		-webkit-transition: all 0.25s ease-out;
		   -moz-transition: all 0.25s ease-out;
		    -ms-transition: all 0.25s ease-out;
		        transition: all 0.25s ease-out;

		position: absolute;
		opacity: 0;
		top: -0.5rem;
	}

	&:hover {
		.bottom-layer {
			opacity: 1;
		}
	}
}


.project-block {
}

.project-block .block-text,
.column-text {
	border-right: 3px #EEE solid;
}

.project-block-text,
.project-block-content,
.column-text,
.column-content {
	padding: 1rem;
}

.project-block-text {
	position: relative;
	.annotation-line {
		border-width: 0.25em;
		border-radius: 1em;
		position: absolute;
		right: -140%;
		top: 50%;
		z-index: 80;
		width: 150%;
	}
}

.project-block-content {
	text-align: center;
}

.project-block-content figure {
	margin-top: 1rem;
	text-align: left;
}

.project-block-content .bordered {
	border: thin #EEE solid;
}